#Disable Varnish Cache
Header add "Cache-Control" "no-cache"

#Disable and clear the Varnish cache on the server after 20 minutes
Header add "disablevcache" "true"

#Default index page to index.php but keep index.html as backup
DirectoryIndex index.html index.php construction.php

#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
